{{#each this}}
  <li class='movie' data-id='{{this.id}}'>
    <img
      class='movie__img'
      width='440'
      src='{{this.img}}'
      alt='{{this.title}}'
      loading='lazy'
    />
    <div class='movie__info'>
      <p class='movie__name'>{{this.title}}</p>
      <p class='movie__description'>
        {{#unless this.genres}}
          {{#unless this.releaseDate}}
            No information about the movie
          {{/unless}}
        {{/unless}}

        {{#if this.genres}}
          <span class='movie__genres'>{{this.genres}}</span>
        {{/if}}

        {{#if this.genres}}
          {{#if this.releaseDate}}
            |
          {{/if}}
        {{/if}}

        {{#if this.releaseDate}}
          <span class='movie__year'>{{this.releaseDate}}</span>
        {{/if}}

        {{#if this.rating}}
          <span class='movie__rating'>{{this.rating}}</span>
        {{/if}}
      </p>
    </div>
  </li>
{{/each}}